@model PresentationLayer.Models.ProjectEditModel

<form action="/Project/SaveProject" method="post">
	<h3>Изменить информацию о проекте</h3>

	<input name="Id" type="hidden" value="@Model.Id" />
	<input name="CompanyId" type="hidden" value="@Model.CompanyId" />
	<input name="Name" value="@Model.Name" placeholder="Название"/> <br />
	<textarea name="Description" placeholder="Описание">@Model.Description</textarea> <br />

	<input type="submit" />
</form>
